@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Great+Vibes&family=Manrope&family=Montserrat+Alternates&family=Roboto+Flex:opsz@8..144&family=Ubuntu+Condensed&display=swap");
#allbox {
  max-width: 1440px;
  min-width: 1440px;
  margin: 0px auto;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Black Ops One", cursive;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  position: relative;
}

#bagNoItems {
  font-family: "Great Vibes";
  width: 100%;
  height: 550px;
  background-color: beige;
  position: absolute;
  top: 10px;
  margin: 0px auto;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  filter: grayscale(30%);
  background-image: url(./images/Wedonthave.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 5px white;
}
#bagNoItems p {
  padding-left: 240px;
}
#bagNoItems.view {
  display: flex;
}

#bagMessageBox {
  background-image: url(./images/messageDelete.png);
  display: flex;
  width: 450px;
  height: 132px;
  position: absolute;
  top: 50px;
  justify-content: center;
  align-items: end;
  z-index: 50;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: solid 8px black;
  border-radius: 20px;
  background-color: darkgrey;
}
#bagMessageBox.unview {
  display: none;
}
#bagMessageBox button[type=button] {
  text-decoration: none;
  padding: 4px 15px;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  border: rgba(253, 128, 36, 0);
  cursor: pointer;
}
#bagMessageBox button[type=button]:hover {
  color: #000;
}
#bagMessageBox button[type=button]:nth-child(1) {
  background-color: rgb(255, 0, 0);
  margin-left: 60px;
}
#bagMessageBox button[type=button]:nth-child(1):active {
  background-color: #ddd;
}
#bagMessageBox button[type=button]:nth-child(2) {
  background-color: rgb(2, 108, 185);
}
#bagMessageBox button[type=button]:nth-child(2):active {
  background-color: #ddd;
}

#bagTable .bagItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  box-shadow: 10px 10px 10px 1px rgba(20, 20, 20, 0.5);
  margin-bottom: 10px;
}
#bagTable .bagItem .bagImage {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bagTable .bagItem .bagImage img {
  height: -moz-fit-content;
  height: fit-content;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}
#bagTable .bagItem .bagName {
  flex-grow: 3;
  text-align: start;
  text-indent: 3em;
  font-family: "Roboto Flex";
  font-size: 30px;
}
#bagTable .bagItem .bagPrice {
  flex-grow: 1;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 20px;
}
#bagTable .bagItem .bagPrice::before {
  content: "$";
  padding-right: 10px;
}
#bagTable .bagItem .bagQuant {
  flex-grow: 0.5;
  text-align: center;
  font-family: "Anton";
  font-size: 40px;
}
#bagTable .bagItem .bagQuant .bagQuantMinus {
  border: 1px solid;
}
#bagTable .bagItem .bagQuant .bagQuantInput {
  text-align: center;
  width: 100px;
  font-size: 30px;
  font-family: "Roboto Flex";
  border: none;
}
#bagTable .bagItem .bagDelete {
  flex-grow: 0.5;
  text-align: center;
}/*# sourceMappingURL=bag.css.map */