
footer {
  background-image: url(./images/footer_background_img.png);
  background-size: 100%;
  background-repeat: no-repeat;
  /* width: 1920px; */
  display: flex;
  margin-top: 1em;
}

.content {
max-width: 1440px;
min-width: 1440px;
margin: 0px auto;
color: #ffffff;
font-size: 16px;
}

.contentTop {
  /* padding-top: 50px; */
}

.contentLeft {
width: 50%;

/* display: flex;
flex-direction: column; */

}

.contentRight {
display: flex;
justify-content: center;
column-gap: 50px;
}
.legoLogo {
width: 200px;
}
ul {
list-style: none;
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
}
li:not(:first-child) {
margin-top: 0.8em;
}
ul li a {
color: #ffffff;
text-decoration: none;
}

.about p {
text-align: justify;
line-height: 2;
margin: 0;
}
input,
button {
font-size: 1em;
padding: 1em;
width: 100%;
border-radius: 5px;
margin-bottom: 5px;
}
button {
background-color: rgb(253, 128, 36);
color: #ffffff;
}
div.social {
/* display: flex; */
justify-content: space-around;
font-size: 2.4em;
flex-direction: row;
margin-top: 0.5em;
}
.social i {
color: #ffffff;
}

.copyright {
padding: 0.3em 1em;
}
.footer-menu{
float: left;
  margin-top: 10px;
}

.copyright p {
font-size: 0.9em;
text-align: left;
}
@media screen and (max-width: 850px) {
.row.primary {
  grid-template-columns: 1fr;
}

}
