#allbox {
  max-width: 1440px;
  min-width: 1440px;
  margin: 0px auto;
  background-color: blanchedalmond;
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Black Ops One", cursive;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}

#main .slick-arrow {
  position: absolute;
  z-index: 10;
  width: 20px;
  height: 20px;
  font-size: 0px;
  border: none;
}
#main .slick-arrow.slick-prev {
  top: 50%;
  left: -5%;
  background-image: url(./images/left.png);
  background-size: 100% 100%;
}
#main .slick-arrow.slick-next {
  top: 50%;
  right: -5%;
  background-image: url(./images/right.png);
  background-size: 100% 100%;
}
#main #mainSlickOut {
  margin: 0px auto;
  width: 1440px;
  height: auto;
  background-color: antiquewhite;
}
#main #mainSlickOut #mainSlickIn {
  padding-top: 30px;
  width: 100%;
  height: 700px;
  background-color: chartreuse;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm {
  width: 300px;
  height: 600px;
  background-color: rgb(210, 223, 30);
  margin: 0px 15px;
  display: flex;
  align-items: end;
  justify-content: center;
  position: relative;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder {
  width: 70%;
  height: 300px;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up01 {
  background-color: red;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up02 {
  background-color: orange;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up03 {
  background-color: yellow;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up04 {
  background-color: yellowgreen;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up05 {
  background-color: blue;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up06 {
  background-color: purple;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up07 {
  background-color: gold;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUnder.up08 {
  background-color: silver;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  background-color: black;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(1) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(2) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(3) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(4) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(5) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(6) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(7) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:nth-child(8) {
  bottom: 15%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper:hover img {
  width: 100%;
}
#main #mainSlickOut #mainSlickIn .mainSlickForm .mainSlickUpper img {
  width: 70%;
  transition: all 0.4s;
}/*# sourceMappingURL=index.css.map */